<!DOCTYPE html>
<html>
<head>
    <title>Add Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="form-container">

        <h1>Add New Author</h1>

        <form method="POST" class="book-form">

            <label>Author Name</label>
            <input
                type="text"
                name="author_name"
                placeholder="Enter author name"
                required
            >

            <button type="submit" class="add-book-button">
                Add Author
            </button>

        </form>

        <a class="back-button" href="{{ url_for('authors') }}">
            ← Back to Authors
        </a>

    </div>

</body>
</html>
